<md-layout layout="row">
    <md-layout layout="column">
        <md-input-container>
			<label>Every</label>
			<md-select ng-model="myFrequency.base">
				<md-option ng-repeat="item in frequency" value="{{item.value}}">{{item.label}}</md-option>
			</md-select>
        </md-input-container>
    </md-layout>
    <md-layout layout="column">
		<div layout="row">
			<div ng-show="myFrequency.base == 4">
				<md-input-container>
					<label>On</label>
					<!-- If Multiple is Enabled -->
					<md-select class="day-value"
							ng-model="myFrequency.dayValues"
							ng-if="allowMultiple" multiple>
						<md-option ng-repeat="value in dayValues" value="{{value}}">{{value | cronDayName: cronStyle}}</md-option>
					</md-select>
					<!-- If Multiple is not Enabled -->
					<md-select class="day-value"
							ng-model="myFrequency.dayValues"
							ng-if="!allowMultiple">
						<md-option ng-repeat="value in dayValues" value="{{value}}">{{value | cronDayName: cronStyle}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div ng-show="myFrequency.base >= 5">
				<md-input-container>
					<label>On the</label>
					<!-- If Multiple is Enabled -->
					<md-select class="day-of-month-value"
							ng-model="myFrequency.dayOfMonthValues"
							ng-if="allowMultiple" multiple>
						<md-option ng-repeat="value in dayOfMonthValues" value="{{value}}">{{value | cronNumeral}}</md-option>
					</md-select>
					<!-- If Multiple is not Enabled -->
					<md-select class="day-of-month-value"
							ng-model="myFrequency.dayOfMonthValues"
							ng-if="!allowMultiple">
						<md-option ng-repeat="value in dayOfMonthValues" value="{{value}}">{{value | cronNumeral}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div ng-show="myFrequency.base == 6&&config.options.allowMonth">
				<md-input-container>
					<label>Of</label>
					<!-- If Multiple is Enabled -->
					<md-select class="month-value"
							ng-model="myFrequency.monthValues"
							ng-if="allowMultiple" multiple>
						<md-option ng-repeat="value in monthValues" value="{{value}}">{{value | cronMonthName}}</md-option>
					</md-select>
					<!-- If Multiple is not Enabled -->
					<md-select class="month-value"
							ng-model="myFrequency.monthValues"
							ng-if="!allowMultiple">
						<md-option ng-repeat="value in monthValues" value="{{value}}">{{value | cronMonthName}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div ng-show="myFrequency.base >= 3&&config.options.allowHour">
				<md-input-container>
					<label>At (Hour)</label>
					<!-- If Multiple is Enabled -->
					<md-select class="hour-value"
							ng-model="myFrequency.hourValues"
							ng-if="allowMultiple" multiple>
						<md-option ng-repeat="value in hourValues" value="{{value}}">{{value}}</md-option>
					</md-select>
					<!-- If Multiple is not Enabled -->
					<md-select class="hour-value"
							ng-model="myFrequency.hourValues"
							ng-if="!allowMultiple">
						<md-option ng-repeat="value in hourValues" value="{{value}}">{{value}}</md-option>
					</md-select>				
				</md-input-container>
			</div>
			<div ng-show="myFrequency.base >= 2&&config.options.allowMinute">
				<md-input-container>
					<label>: (Minute)</label>
					<!-- If Multiple is Enabled -->
					<md-select class="minute-value"
							ng-model="myFrequency.minuteValues"
							ng-if="allowMultiple" multiple>
						<md-option ng-repeat="value in minuteValues" value="{{value}}">{{value}}</md-option>
					</md-select>
					<!-- If Multiple is not Enabled -->
					<md-select class="minute-value"
							ng-model="myFrequency.minuteValues"
							ng-if="!allowMultiple">
						<md-option ng-repeat="value in minuteValues" value="{{value}}">{{value}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<span ng-show="myFrequency.base == 2"> past the hour</span>
		</div>
    </md-layout>
</md-layout>